*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/buildConfig/androidTest/
build/generated/source/buildConfig/debug/
build/generated/source/r/androidTest/
build/generated/source/r/debug/
build/generated/source/rs/
build/intermediates/blame/
build/intermediates/bundles/debug/AndroidManifest.xml
build/intermediates/bundles/debug/R.txt
build/intermediates/bundles/debug/aidl/
build/intermediates/bundles/debug/assets/
build/intermediates/bundles/debug/res/anim/
build/intermediates/bundles/debug/res/drawable-hdpi-v4/bottom_bar_home_press.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/bottom_bar_record_normal.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/good.jpg
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_ab_back_holo_light_am.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_action_info.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_action_new.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_action_photo.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_launcher.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/ic_list_remove.png
build/intermediates/bundles/debug/res/drawable-hdpi-v4/icon.png
build/intermediates/bundles/debug/res/drawable-ldpi-v4/
build/intermediates/bundles/debug/res/drawable-mdpi-v4/ic_launcher.png
build/intermediates/bundles/debug/res/drawable-nodpi-v4/
build/intermediates/bundles/debug/res/drawable-xhdpi-v4/ic_launcher.png
build/intermediates/bundles/debug/res/drawable/
build/intermediates/bundles/debug/res/layout/
build/intermediates/bundles/debug/res/values-large-v4/values-large-v4.xml
build/intermediates/bundles/debug/res/values/
build/intermediates/incremental/compileDebugAidl/
build/intermediates/incremental/compileDebugAndroidTestAidl/
build/intermediates/incremental/mergeDebugAndroidTestResources/
build/intermediates/incremental/mergeDebugAssets/
build/intermediates/incremental/mergeDebugResources/
build/intermediates/incremental/mergeDebugShaders/
build/intermediates/incremental/packageDebugAndroidTest/
build/intermediates/incremental/packageDebugResources/
build/intermediates/incremental/processDebugAndroidTestResources/
build/intermediates/incremental/processDebugResources/
build/intermediates/lint/
build/intermediates/manifest/
build/intermediates/manifests/
build/intermediates/res/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/symbols/
build/outputs/
